#song-title{
    color:darkblue;
    font-family: "Annie Use Your Telescope", cursive;
    font-size: 40px;
}
h3,h4{
    color:#990000;
    font-family: "Purple Purse", serif;
}

#lyrics {
    font-family: "Annie Use Your Telescope", cursive;
    font-size: 20px;
}

