


.row{
   display: flex;
     display: flex;
      justify-content: center;
      align-items: center;
}
 .row img {
      height: 600px;
      border: 3px solid white;
      padding: 10px;
      margin: 10px;
      background-color: black;  
    }


.title{
color:red;
text-align: center;
}

.lyrics {
    text-align:center;
    font-family: "Purple Purse", serif;
    font-size:25px;
    background-color: white;
    padding:10px;
    margin:10px;
    
    
}
h2{
    font-size:25px;
}

.description{
    font-size: 20px;
}


h3{
    color:#fa0710;
    font-weight: bold;
}
body{
    background-color: black;
}

a{
    color:#66b3ff;
}

a:hover{
    color:#fa0710;
}